body{
    margin: 0px;
    padding: 0px;
    
}

#banner{
width: 100%;
}

.titulo-principal{
    text-transform: uppercase;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);

    padding: 30px;
    margin: 0%;
}

.titulo2{
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
    background-color: rgb(0, 0, 0);
    padding: 30%;
    margin: 0%;
}

    .principal {
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        padding: 0%;
        margin:  0%;

    }

    .beneficios{
        color: rgb(243, 243, 243);
        background-color: black;
    }
    ul{
     display: inline-block;
        vertical-align: top;
        width: 20%;
        margin-right: 15%;
    }

    .intens{ /ITENS DA LISTA- CADA BOLHA*/
         font-style: italic;


    }

    .imagembeneficios{/*IMAGEM DO HOMEM BARBUDO*/
        width: 50%;
    }